@font-face{
  font-family: 'Samarkan';
  src: url('../../font/SAMAN___.TTF') format('truetype');
}

.homepage {
  position: sticky;
  width: 100%;
  background-image: url('../../assets/image.png'); /* Adjust based on your design */
  transition: transform 0.3s ease-in-out;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(0);
  position: relative;
  z-index: 500; 
  margin-top: 0px; 
}

h1{
  font-family: 'Samarkan',sans-serif;
}

.homepage.slide-down {
  transform: translateY(0);
}

.homepage.slide-up {
  transform: translateY(-100%);
}

.rakt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.logo-homepage {
  width: 200px; /* Adjust as needed */
  height: auto;
}

.content h1 {
  font-size: 2.5em;
  margin: 20px 0;
}

.shop-now-btn {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.shop-now-btn:hover {
  background-color: black;
  color: white;
}




.collections-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.collection {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.collections-container :hover{
 color: black;
 transition: color 0.5s;

}

.tshirt-collection {
  background-image: url('../../assets/tshirtbackground.jpg'); 
  background-size: cover;
  background-position: center;
}

.poster-collection {
  background-image: url('../../assets/tshirtbackground.jpg'); 
  background-size: cover;
  background-position: center;
}


.collection-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection h2 {
  font-style: 'Samarkan',sans-serif;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}
